.otro{
    background-color: aqua;
}

.programacion{
    background-color: blueviolet;
}

.circuitos{
    background-color: rgb(71, 128, 235);
    
}

.tabla{
    font-style: italic;
    background-color: rgb(248, 160, 226);
    border: 2px black;
}